* {
  box-sizing: border-box;
}

body {
  background-color: #7fe67f;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  line-height: 1.4;
}

.header {
  border-bottom: lightgray solid 2px;
  border-top: lightgray solid 2px;
  color: #193dff;
  font-size: 1.8em;
  letter-spacing: 1.6px;
  margin: 5px auto 7px;
  text-align: center;
  text-shadow: 1px 1px 1px gray;
  width: 90%;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1000px;
  padding: 15px 15px 25px 10px;
  width: 80%;
  box-shadow: /* The top layer shadow */
    0 1px 1px rgba(0, 0, 0, 0.15), /* The second layer */
    0 10px 0 -5px #eee, /* The second layer shadow */
    0 10px 1px -4px rgba(0, 0, 0, 0.15), /* The third layer */
    0 20px 0 -10px #eee, /* The third layer shadow */
    0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

input[type=checkbox] {
  margin-right: 10px;
}

input[type=checkbox]:focus {
  box-shadow: 0 0 17px 3px #c4c3c2;
  outline: none;
}

.task-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #d2d1cd;
  font-weight: 100;
  color: #333;
  padding: 10px 5px 15px 15px;
  width: 90%;
}